$bg-color: #171a24;
$text-color: #dddddd;
$text-color-dark: #202020;
$highlight-color: #dbbb7d;
$action-color: #c77671;
$gradient-color: linear-gradient(
  130deg,
  rgba(204, 74, 66, 1) 0%,
  rgba(199, 118, 113, 1) 29%,
  rgba(219, 187, 125, 1) 73%,
  rgba(234, 164, 28, 1) 100%
);
